bcrypt
blinker
cffi
click
cryptography
dnspython
email-validator
Flask
Flask-Bcrypt
Flask-Login
Flask-Mail
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
itsdangerous
Jinja2
jwt
MarkupSafe
pycparser
pytz
SQLAlchemy
typing_extensions
Werkzeug
wsgi
WTForms
