{% extends "layout.html" %}
{% block title %}Edit{% endblock %}
{% block body %}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
    <a class="navbar-brand">Todo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for("home")}}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
            </a>
            <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </li>
        <li class="nav-item">
              <a class="nav-link" href="{{url_for("logout")}}">Logout</a>
        </li>
        </ul>
        <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    </div>
</nav>
<div class="container">
    <form method="post">
        {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.title.label(class="fw-semibold") }}
        <br>
        {{ form.title(class="form-control", value=todo.title,autofocus=True) }}
        {% for error in form.title.errors %}
                        <div style="color:red;">
                            {{error}}
                        </div>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{ form.description.label(class="fw-semibold") }}
        <br>
        {{ form.description(class="form-control", value=todo.Description) }}
    </div>
        {{ form.add(class="btn btn-primary") }}
    </form>
</div>
{% endblock body %}